[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggResidpanel"]
	path = ggResidpanel
	url = https://github.com/goodekat/ggresidpanel
	shallow = true
	registered = true
